
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-header justify-content-center">
                            <h3>My Leave Applications</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="card-body">
                                    <table class="table table-bordered table-hover" id="applicationlist">
                                        <thead>
                                            <tr>
                                                <th>Start</th>
                                                <th>End</th>
                                                <th>Days</th>
                                                <th>Hours</th>
                                                <th>Type</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Start</th>
                                                <th>End</th>
                                                <th>Days</th>
                                                <th>Hours</th>
                                                <th>Type</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts
{
    <script>
    $(function() {
        $('#applicationlist').DataTable({
            "processing": true,
            "serverSide": true,
            "searching": false,
            "ajax": {
                "url": "@Url.Action("GetMyLeaveApplications", "LeaveApplication")"
            },
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": 6,
                    "render": function (data, type, row) {
                        return `<button type="submit" class="btn btn-primary" onclick="window.location.href='/panel/LeaveApplication/review/${data}'" value='${data}'>
                                        View 
                                    </button>`;
                    }
                }
            ]
        });
    });
    </script>
}