@{
    ViewData["Title"] = "Home Page";
}

<section class="section">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">User Informations</h4>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="basicInput">Name</label>
                                        <input type="text" class="form-control" id="basicInput"
                                            placeholder="Name">
                                    </div>

                                    <div class="form-group">
                                       <label for="exampleFormControlTextarea1" class="form-label">Address</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                            rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                        
                                   <div class="form-group">
                                        <label for="basicInput">Number</label>
                                        <input type="text" class="form-control" id="basicInput"
                                            placeholder="Phone Number">
                                    </div>
                                    
                                    <div class="mb-3">
                                        <label for="formFile" class="form-label">Default file input
                                            example</label>
                                        <input class="form-control" type="file" id="formFile">
                                    </div>

                                    <div class="input-group">
                                        <fieldset class="form-group">
                                            <select class="form-select" id="basicSelect">
                                                <option>Male</option>
                                                <option>Female</option>
                                                <option>Others</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                    <div class="buttons">
                                        <a href="#" class="btn btn-primary">Save</a>
                                        <a href="#" class="btn btn-danger">Cancel</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </section>
